@using WebUI.Models;
@model DataResultModel<List<CategoryModel>>


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/bootstrap/dist/css/bootstrap-utilities.css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/additional-methods.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (Model is not null)
                {
                    @foreach (var item in Model.Data)
                    {
                        <li class="nav-item">
                            <button type="button" onclick="getProduct(@item.Id)" class="nav-link categoryButton">@item.Name</button>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <button class="nav-link">Beklenmedik bir hata oluştu!</button>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
    </div>

    <script type="text/javascript" charset="utf-8">
                function getProduct(id) {

                    const uri = 'product/'.concat(id);
                    fetch(uri)
                        .then(response => response.json())
                        .then(data => getData(JSON.stringify(data)))
                        .catch(error => console.error('Unable to get items.', error));
                }

                function getData(data)
                {
                    document.querySelector('.container').innerHTML = ``;
                    var dynamic = document.querySelector('.container');

                    for(var i = 0; i<data.length;i++)
                    {
                        var fecht = document.querySelector(".container").innerHTML;
                        dynamic.innerHTML = `<div class="card" style="width: 18rem;display:inline-block;">
                        <div class="card-body">
                        <h5 class="card-title">${data[i].name}</h5>
                        <p class="card-text">${data[i].about}</p>
                        <button class="btn btn-primary">${data[i].price}</button>
                        </div>
                        </div>` + fecht;
                    }
                }
    </script>
</body>
</html>